<div class="nav-bar">
  <ul>
    <li><a href="/" class="hello">HELLO</a></li>
    <li><a href="/" class="about">ABOUT</a></li>
  </ul>
</div>

  <div class="drop-hike">
  <p>
    HIKE is a web application for avid hikers who want to access hike trails more easily but don’t want to deal with the logistical details. This app simplifies the planning and selection processes in hiking by showing a list of hike trails by distance, cost, difficulty, and accessibility based on modes of transportation. 
  </p>
  </div>
  <div class="drop-hello">
    <img src="http://www.mountainhighhikers.org/j282782.gif">
  </div>
</div>

<div class="center">
  <div class="hike-sign">
    <h1>H I K E</h1>
  </div>

  <div></div>
  <div class="container">
  <h2 class="enter-location">Enter location to find nearby trail:</h2>
    <form class="location-form" action="/trails" method="get">
      
      <p class="form-p" id="address">
        <input id="address-submit" type="text" placeholder="Street Address">
      </p>
      <p class="form-p" id="city">
        <input id="city-submit" type="text" placeholder="City">
      </p>
      <p class="form-p" id="state">
        <input id="state-submit" type="text" placeholder="State">
      </p>
      <p class="form-p" id="zip">
        <input id="zip-submit" type="text" placeholder="Zip Code">
      </p>
      <p>
        <input type="submit" class="welcome-submit">
      </p>
      
    </form>
  </div>
</div>

<!-- LIST OF HIKE TRAILS FROM STARTING POINT DIV -->
<div class="trail-list-box">
  <div class="hike-title">
    <h3>HIKE</h3>
  </div>
  <div class="starting-address">
    <p>10E 21st St. New York, NY 10010</p>
    <button>car</button>
    <button>no car</button>
  </div>
</div>

<div class="trails-table">
  <table class="altrowstable" id="alternatecolor">
    <tr class="trail">
      <td class="travel_distance">
        
      </td>
      <td class="title">
        
      </td>
      <td class="trail_length">
        
      </td>
      <td class="trail_difficulty">
        
      </td>
    </tr>
  </table>
</div>

<div class="trail-info-box">
  <div class="close_box">
    <img src="http://www.ehsanoptics.com/catalog/view/theme/ehsan/image/close_icon.png" class="close_png">
  </div>
  <div class="trail-details">
    <h3 class="infobox-title">EXAMPLE TRAIL</h3>
    
    <div class="img-address">
      <img class="infobox-img" src="" alt="" />
      <p class="infobox-address">
        123 Ilivehere Blvd. Montauk, NY
      </p>
    </div>

    <p class="infobox-duration">
      <span class="infobox-header">
        DURATION:</span> 6 hours long
    </p>
    <p class="infobox-difficulty">
      <span class="infobox-header">
        DIFFICULTY:</span> Moderate
    </p>
    <div class="infobox-description">
      <p>blahblahblah</p>
      <p>blahblahblahblah</p>
    </div>
    <div class="footer">
      <input type="submit" value="Directions" class="directions-submit" />
    </div>
  </div>
</div>
