<div class="nav-bar">
  <ul>
    <li><a href="/" class="hello">HELLO</a></li>
    <li><a href="/" class="about">About HIKE</a></li>
  </ul>
  <div class="drop-hike">
  <p>
    HIKE is a web application for avid hikers who want to access hike trails more easily but don’t want to deal with the logistical details. This app simplifies the planning and selection processes in hiking by showing a list of hike trails by distance, cost, difficulty, and accessibility based 
  </p>
  </div>
  <div class="drop-hello">
    <img src="http://www.mountainhighhikers.org/j282782.gif">
  </div>
</div>

<div class="center">
  <div class="hike-sign">
    <h1>H I K E</h1>
  </div>

  <div class="container">
  <h2 class="enter-location">Enter location to find nearby trail:</h2>
    <form class="location-form" action="/trails" method="get">
      <p class="form-p" id="address">
        <input id="address-submit" type="text" placeholder="Street Address">
      </p>
      <p class="form-p" id="city">
        <input id="city-submit" type="text" placeholder="City">
      </p>
      <p class="form-p" id="state">
        <input id="state-submit" type="text" placeholder="State">
      </p>
      <p class="form-p" id="zip">
        <input id="zip-submit" type="text" placeholder="Zip Code">
      </p>
      <p>
        <input type="submit" class="welcome-submit">
      </p>
    </form>
  </div>
</div>

<!-- LIST OF HIKE TRAILS FROM STARTING POINT DIV -->
<div class="trail-list-box">
  <div class="hike-title">
    <h3>HIKE</h3>
  </div>
  <div class="starting-address">
    <p>10E 21st St. New York, NY 10010</p>
    <button>car</button>
    <button>no car</button>
  </div>
</div>

<div class="trails-table">
  <table class="altrowstable" id="alternatecolor">
    <tr>
      <td class="travel_distance">
        
      </td>
    </tr>
    <tr>
      <td class="title">
        
      </td>
    </tr>
    <tr>
      <td class="trail_length">
        
      </td>
    </tr>
    <tr>
      <td class="trail_difficulty">
        
      </td>
    </tr>
  </table>
</div>

<div class="trail-info-box">
  <div class="trail-details">
    <h3 class="infobox-title">EXAMPLE TRAIL</h3>
    <img class="infobox-img" src="www.example.com" alt="" />
    <p class="infobox-address">
      123 Ilivehere Blvd. Montauk, NY
    </p>
    <p class="infobox-duration">
      <span class="infobox-header">
        DURATION:</span> 6 hours long
    </p>
    <p class="infobox-difficulty">
      <span class="infobox-header">
        DIFFICULTY:</span> Moderate
    </p>
    <p class="infobox-descriptions">
      <span class="infobox-header">
        DESCRIPTION:
      </span>
      Camp Hero State Park encompasses 415 acres of diverse landscape including heavily wooded areas, a long expanse of beachfront along the Atlantic Ocean, and an historic military installation. Specific features of Camp Hero are magnificent pristine maritime forests, freshwater wetlands, spectacular ocean vistas and dramatic bluffs rising from the beach. An extensive system of trails is available for hiking, biking and horseback riding. The park boasts some of the best surf fishing locations in the world, open 24 hours a day to fishermen with permits, and areas for picnicking. An undisturbed environment shelters bountiful wildlife and an abundance of birds. The former military base that is in the park is registered as a National Historic Site. Swimming not permitted. - See more at: http://parks.ny.gov/parks/97/details.aspx#sthash.JOBVPN5I.dpuf
    </p>
  </div>
    <input type="submit" value="Directions" class="directions-submit" />
    <img src="http://www.clker.com/cliparts/G/o/n/l/t/F/hiker-grey-hi.png" class="hiker-image" />
</div>
