<div class="nav-bar">
	<ul>
		<li><a href="/" class="about">About HIKE</a></li>
	</ul>
	<div class="drop-hike">
	<p>
		Lorem ipsumoa hdoujianasodasido asncau ancadou anao nuncunuauca iuaifhaf
	</p>
</div>
</div>

<center>
	<div class="hike-sign">
		<h1>H I K E</h1>
	</div>




	<div class="container">
	<h2>Enter location to find nearby trail:</h2>
		<form action="/trailsolutions" method="get">
			<p>
				<input type="text" placeholder="Street Address">
			</p>
			<p>
				<input type="text" placeholder="City">
			</p>
			<p>
				<input type="text" placeholder="State">
			</p>
			<p>
				<input type="text" placeholder="Zip Code">
			</p>
			<p>
				<input type="submit" class="welcome-submit">
			</p>
		</form>
	</div>







</center>