<h1>Trailsolutions#index</h1>
<p>Find me in app/views/trailsolutions/index.html.erb</p>

<h2>Enter location to find nearby trail:</h2>
<form action="/trailsolutions" method="get">
	<p>
		STREET ADDRESS:
		<input type="text" placeholder="Street Address">
	</p>
	<p>
		CITY:
		<input type="text" placeholder="City">
	</p>
	<p>
		STATE:
		<input type="text" placeholder="State">
	</p>
	<p>
		ZIP CODE:
		<input type="text" placeholder="Zip Code">
	</p>
	<p>
		<input type="submit">
	</p>
</form>