<div class="nav-bar">
	<ul>
		<li><a href="/" class="about">About HIKE</a></li>
	</ul>
	<div class="drop-hike">
	<p>
		HIKE is a web application for avid hikers who want to access hike trails more easily but don’t want to deal with the logistical details. This app simplifies the planning and selection processes in hiking by showing a list of hike trails by difficulty, distance, cost, and accessibility based on modes of transportation.
	</p>
</div>
</div>

<div class="center">
	<div class="hike-sign">
		<h1>H I K E</h1>
	</div>

	<div class="container">
	<h2>Enter location to find nearby trail:</h2>
		<form action="/trailsolutions" method="get">
			<p>
				<input type="text" placeholder="Street Address">
			</p>
			<p>
				<input type="text" placeholder="City">
			</p>
			<p>
				<input type="text" placeholder="State">
			</p>
			<p>
				<input type="text" placeholder="Zip Code">
			</p>
			<p>
				<input type="submit" class="welcome-submit">
			</p>
		</form>
	</div>
</div>